[submodule "dep/GSW-Fortran"]
	path = dep/GSW-Fortran
	url = https://github.com/TEOS-10/GSW-Fortran.git
[submodule "dep/gFTL"]
	path = dep/gFTL
	url = https://github.com/Goddard-Fortran-Ecosystem/gFTL.git
